<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>公司注册</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/page.css">
	</head>

<body>
	<div id="app">
	<!-- 网站导航 -->
	<div class="pubHeader" >
		<include src="header.html"></include>
	</div>
	
	<div class="pubHeadBanner">
		<include src="headBanner.html"></include>
	</div>
	
	<div class="registerBox1 center">
		<div class="w1200">
			<ul>
				<li>
					<h1>10</h1>
					<p>专注财税服务</p>
				</li>
				<li>
					<h1>32000</h1>
					<p>公司已公司注册</p>
				</li>
				<li>
					<h1>10</h1>
					<p>专注财税服务</p>
				</li>
				<li>
					<h1>15462</h1>
					<p>分公司遍布全国各地</p>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="w1200">
		<div class="pdb100"></div>
		<div class="registerStar">
			<h1 class="titile center">注册公司第一步，从公司核名开始</h1>
			<p class="explain center">3-5个工作日，急速注册</p>
			
			<div class="seachbx">
				<div class="input">
					<input type="text">
					<img class="icon" src="images/registered-icon1.png" >
				</div>
				<button class="seachBtn" type="button">查询是否注册</button>
			</div>
			<div class="infor">
				<img class="icon" src="images/registered-icon2.png" alt="">
				<h1>截止目前已有<em class="red fs24">569302</em>客户完成查询</h1>
				<p>西安**实业集团有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可以注册</p>
				<p>西安**实业集团有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不能注册</p>
			</div>
		</div>
		<div class="pdb100"></div>
	</div>
	
	<div class="bjgayf5">
		<div class="w1200">
			<div class="pubTitle center">
				<h1 class="fs30">真正极简 快捷流程</h1>
				<p class="fs20 gray6">3-5个工作日，急速注册</p>
			</div>
			<div class="registerBox3">
				<ul class="flexRowBetween center">
					<li>
						<img src="images/registered-icon3.png" >
						<p>核名</p>
					</li>
					<li>
						<img src="images/registered-icon4.png" >
						<p>设立</p>
					</li>
					<li>
						<img src="images/registered-icon5.png" >
						<p>领取执照</p>
					</li>
					<li>
						<img src="images/registered-icon6.png" >
						<p>注册完成</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="pdb100"></div>
	</div>
	
	
	<!-- 注册公司所需资料 -->
	<div class="pubTitle center">
		<h1 class="fs30">注册公司所需资料</h1>
		<p class="fs20 gray6">在缔元智能财税，您只需提供</p>
	</div>
	<div class="w1200 registerBox4">
		<ul class=" flexRowBetween">
			<li class="liImg1"><img class="ctImg" src="images/registered-img.png" /></li>
			<li>
				<h1>客户准备</h1>
				<p>1、内资公司设立登记申请水</p>
				<p>2、企业名称预先核准通知书</p>
				<p>3、制定（委托）书</p>
				<p>4、补充信息登记表</p>
			</li>
			<li class="liImg2">
				<img class="ctImg" src="images/registered-img.png" />
			</li>
			<li>
				<h1>工商部门领取下载</h1>
				<p>1、公司举报</p>
				<p>2、股东资格证明</p>
				<p>3、住所使用证明</p>
				<p>4、许可项目审批文件</p>
			</li>
		</ul>
	</div>
	<div class="pdb100"></div>
	
	<!-- 您能拿到的材料 -->
	<div class="bjgayf5">
		<div class="pubTitle center">
			<h1 class="fs30">您能拿到的材料</h1>
			<p class="fs20 gray6">从2016年10月起全国统一实行无证合一</p>
		</div>
		<div class="w1200 bgc-white registerBox5">
			<div class="flexRowBetween topImg">
				<img src="images/registered-img1.png" alt="">
				<img src="images/registered-img2.png" alt="">
				<img src="images/registered-img3.png" alt="">
			</div>
			<div class="flexRowBetween cont" >
				<div class="fs16 line40">
					<p>1、营业执照（正、副本）</p>
					<p>2、企业统一社会信息代码证明</p>
					<p>3、公司章程</p>
					<p>4、房屋租赁合同</p>
					<p>5、公司印章及印鉴留存卡</p>
				</div>
				<div>
					<p class="fs14 gray9 mgb30">注册如有什么问题，请拨打我们的客户热线：</p>
					<h1 class=" phone">029-2563-8956</h1>
					<button class="zixunBtn" type="button">立即咨询</button>
				</div>
			</div>
		</div>
		<div class="pdb100"></div>
	</div>
	
	<!-- 公司成立后 -->
	<div class="w1200">
		<div class="pubTitle center">
			<h1 class="fs30">公司成立后</h1>
			<p class="fs20 gray6">您还可以需要</p>
		</div>
		<div class="registerBox3">
			<ul class="flexRowBetween center">
				<li>
					<img src="images/registered-icon7.png" >
					<p>刻章</p>
				</li>
				<li>
					<img src="images/registered-icon8.png" >
					<p>银行开户</p>
				</li>
				<li>
					<img src="images/registered-icon9.png" >
					<p>征管鉴定</p>
				</li>
				<li>
					<img src="images/registered-icon10.png" >
					<p>税务记账</p>
				</li>
			</ul>
		</div>	
		<div class="pdb100"></div>
	</div>
	
	<div class="bjgayf5">
		<div class="pubTitle center">
			<h1 class="fs30">为什么要选择缔元智能财税</h1>
			<p class="fs20 gray6">5家直属分支机构，2000+客户的共同选择</p>
		</div>
		<div class=" w1200 registerBox7">
			<ul class="flexRowBetween">
				<li>
					<h1>省钱</h1>
					<p>全程专业化办理，标准化操作，无隐形收费，让您省钱；</p>
				</li>
				<li>
					<h1>省时</h1>
					<p>复杂的事情交给我们，提高办事效率的同时为您节约时间；</p>
				</li>
				<li>
					<h1>省心</h1>
					<p>从注册、报到。税控审批、专业服务、让您做到省心；</p>
				</li>
				<li>
					<h1>省力</h1>
					<p>一次性准备资料，专人帮您办理，一站式服务，让您做到省力</p>
				</li>
			</ul>
		</div>
		<div class="pdb100"></div>
	</div>
	
	<div >
		<div class="pubTitle center">
			<h1 class="fs30">认真解答 常见问题</h1>
			<p class="fs20 gray6">您想问的都在这里</p>
		</div>
		<div class="register_quest w1200">
			<ul>
				<li>
					<h1>我没有注册地址，听说虚拟地址可以注册公司，你们这里提供虚拟地址吗？</h1>
					<p>当您不想花高额的租金写字楼，您可以用我们提供的虚拟地址来注册公司，我们提供的这些虚拟地址都是工商局备过案的，您可以放心使用。</p>
				</li>
				<li>
					<h1>注册100万的公司，需要一次交清吗？</h1>
					<p>不用，2014年3月1日后，公司注册改革，注册资本从实缴改为认缴，也就说，你现在只需要拿出1元，即可注册。</p>
				</li>
				<li>
					<h1>认缴是随便写注册资本数额吗？</h1>
					<p>公司认缴的出资额将通过“市企业信用信息网”向社会公式，因此，请股东在认缴出资时充分自身考虑所具备的投资能力，理性确定认缴金额。</p>
				</li>
				<li>
					<h1>我以前注册的公司被吊销了？能注册新公司吗？</h1>
					<p>不行，被吊销后你会上工商和税务机关的黑名单，工商一般3年自动解除，税务必须缴纳罚款后才能解除。</p>
				</li>
			</ul>
		</div>
		<div class="pdb100"></div>
	</div>
	
	<!-- 更多问题 -->
	<div class="bjgayf5 pdb100">
		<div class="pubTitle center">
			<h1 class="fs30">更多问题</h1>
			<p class="fs20 gray6">您想要的都在这里，咨询就解决</p>
		</div>
		<div class="morQquets w1200 oh">
			<div class="list oh" v-for="(item,index) in qaData" :key="index">
				<img class="pic" :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
				<div class="titLis">
					<ul>
						<li v-for="c_item in item.child">
							<a href="detailPage.html"><i></i>{{c_item.title}}<em>{{c_item.create_time}}</em>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	

	<include src="containOne.html"></include>
	
	<include src="footer.html"></include>
	</div>
</body>

	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
		        	is_toggle:false,
					is_show:false,
					wx_show:2,
					indxLastbox:[
						{
							iconUrl:"images/home-icon14.png",
							title:"顾问团队",
							text:["资深顾问团队","严格监督把控流程"]
						},
						{
							iconUrl:"images/home-icon15.png",
							title:"高效快捷",
							text:["全天快速响应，流程简单","办理进度实时推送"]
						},
						{
							iconUrl:"images/home-icon16.png",
							title:"平台保障",
							text:["专业顾问","一站式一对一服务"]
						},
						{
							iconUrl:"images/home-icon17.png",
							title:"性价比高",
							text:["价格公开透明","引领业界良好口碑"]
						},
						{
							iconUrl:"images/home-icon18.png",
							title:"安全保障",
							text:["客户信息保密防泄露","省时省心，让您信赖选择"]
						}
					],
					morQquets:[// 更多问题
						{
							imgUrl:"images/registered-img5.png",
							list:["注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？"],
							time:"08-31"
						},
						{
							imgUrl:"images/registered-img5.png",
							list:["注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？"],
							time:"08-31"
						},
						{
							imgUrl:"images/registered-img5.png",
							list:["注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？","注册投资管理公司需要什么条件？"],
							time:"08-31"
						}
					],
					qaData:[]
					
		        }
		    },
		    created:function () {
				 var self = this;
				 window.base.bus.$emit('to_contentTwo',{paginate:self.paginate});
				 self.getMainData();	
		    },
		    methods: {
		        
				getMainData: function(id){
				    var self = this;
				    var postData = {};
					//postData.paginate = window.base.cloneForm(self.paginate);
				    postData.searchItem = {
						thirdapp_id:2
					};				
					postData.getBefore = {
					 	child: {
					 		tableName: 'Label',
					 		middleKey: 'parentid',
					 		key: 'id',
					 		searchItem: {
					 			title:['in',['更多问题']]
					 		},
					 		condition: 'in'
					 	},
					};
					postData.getAfter = {
					 	child: {
					 		tableName: 'Article',
					 		middleKey: 'id',
					 		key: 'menu_id',
					 		searchItem: {
					 			status:1
					 		},
					 		condition: '='
					 	},					
					};
				    var callback = function(res){
				        console.log('getMainData', res);
				        self.qaData.push.apply(self.qaData,res.info.data)   
				    };
					console.log('self.qaData',self.qaData)
				    window.base.labelGet(postData, callback);
				}
				
		    }
		});
	</script>
	<style type="text/css">
		.ind_partners{ background: #fff;}
		.indx-lastbox{ background: #f5f5f5;}
	</style>
</html>